# OS / Python junk
.DS_Store
__pycache__/

# ROS / colcon outputs
aav_ws/build/
aav_ws/install/
aav_ws/log/

# Potential mistake of doing colcon build in src folder
aav_ws/src/build/
aav_ws/src/install/
aav_ws/src/log/

# MAVLink logs
*.tlog
*.tlog.raw

# EEPROM / params
aav_ws/eeprom.bin
aav_ws/mav.parm

#Micro DDS
aav_ws/Micro-XRCE-DDS-Gen/
#Terrain
aav_ws/terrain/

#Random logs
aav_ws/logs/

#Simulation Generated Folders
aav_ws/src/ardupilot/
aav_ws/src/ardupilot_gazebo/
aav_ws/src/ardupilot_gz/
aav_ws/src/ardupilot_sitl_models/
aav_ws/src/sdformat_urdf
aav_ws/src/micro_ros_agent/
aav_ws/src/ros_gz/

# Yolo detection
aav_ws/src/yolo_ros/


aav_ws/src/ardupilot_msgs/
aav_ws/src/yolo_msgs/