# OS / Python junk
.DS_Store
__pycache__/

# ROS / colcon outputs
AAVWORKSPACE/build/
AAVWORKSPACE/install/
AAVWORKSPACE/log/

# Potential mistake of doing colcon build in src folder
AAVWORKSPACE/src/build/
AAVWORKSPACE/src/install/
AAVWORKSPACE/src/log/

# MAVLink logs
*.tlog
*.tlog.raw

# EEPROM / params
AAVWORKSPACE/eeprom.bin
AAVWORKSPACE/mav.parm

#Micro DDS
AAVWORKSPACE/Micro-XRCE-DDS-Gen/

#Terrain
AAVWORKSPACE/terrain/

#Random logs
AAVWORKSPACE/logs/

#Simulation Generated Folders
AAVWORKSPACE/src/ardupilot/
AAVWORKSPACE/src/ardupilot_gazebo/
AAVWORKSPACE/src/ardupilot_gz/
AAVWORKSPACE/src/ardupilot_sitl_models/
AAVWORKSPACE/src/sdformat_urdf
AAVWORKSPACE/src/micro_ros_agent/
AAVWORKSPACE/src/ros_gz/

